#auction_template, #property_template{
    width: 100%;
    height: 500px;
}
table.shortcode-reference{
    width: 100%;
    font-size: 13px;
    thead tr{
        border: 1px #ccc solid;
    }
    th{
        text-align: left;
        text-transform: capitalize;
        background: #e4e4e4;
    }
    th, td{
        padding: 10px;
    }
    tr:nth-child(odd){
        background: #f5f5f5;
    }
    tr{
        background: #fcfcfc;
    }
}
