#auction_date{
    label{
        width: 100%;
        display: block;
        clear: left;
        margin-top: 5px;
        padding-top: 10px;
    }
    #auction_start_date, #auction_end_date{
        width: 100%;
        float: left;
        clear: left;
    }
    #auction_end_time, #auction_start_time{
        width: 100%;
        float: left;
    }
    #auction_time_zone{
        float: right;
    }
    #auction_dates_tentative{
        float: right;
        padding-top: 10px;
    }
}

#auction_info{
    label{
        padding: 5px 20px none none;
        width: 10%;
        clear: both;
        &[for=auction_external_url]{
            width: 22%;
            float: left;
            margin-right: 2%;
        }
        &[for=auction_address_1], &[for=auction_address_2], &[for=auction_address_3]{
            width: 10%;
            margin-right: 2%;
        }
        &[for=auction_city]{
            width: 10%;
            margin-right: 2%;
        }
        &[for=auction_state]{
            width: 5%;
            margin-right: 2%;
        }
        &[for=auction_zip]{
            width: 5%;
            margin-right: 2%;
        }
    }
    #auction_external_url{
        width: 100%;
    }
    #auction_address_1, #auction_address_2, #auction_address_3{
        width: 100%;
    }
    #auction_state{
        width: 10%;
        margin-right: 1%;
    }
    #auction_zip{
        width: 15%;
        margin-right: 1%;
        float: right;
    }
}
#property_location{
    label{
        padding: 5px 20px none none;
        width: 10%;
        clear: both;
        &[for=map_url]{
            width: 22%;
            float: left;
            margin-right: 2%;
        }
        &[for=property_address_1], &[for=property_address_2], &[for=property_address_3]{
            width: 10%;
            margin-right: 2%;
        }
        &[for=property_address_city]{
            width: 10%;
            margin-right: 2%;
        }
        &[for=property_address_state]{
            width: 5%;
            margin-right: 2%;
        }
        &[for=property_address_zip]{
            width: 5%;
            margin-right: 2%;
        }
        &[for=property_geolocation_latitude], &[for=property_geolocation_longitude]{
            width: 10%;
        }
    }
    #map_url{
        width: 100%;
    }
    #property_directions{
        width: 100%;
        height: 200px;
    }
    #property_address_1, #property_address_2, #property_address_3{
        width: 100%;
    }
    #property_address_city{
        width: 54%;
        margin-right: 1%;
    }
    #property_address_state{
        width: 10%;
        margin-right: 1%;
    }
    #property_address_zipcode{
        width: 15%;
        float: right;
    }
    #property_geolocation_latitude{
        width: 40%;
        margin-right: 1%;
    }
    #property_geolocation_longitude{
        width: 40%;
        float: right;
    }
}
#property_info{
    label{
        padding: 5px 20px none none;
        width: 10%;
        clear: both;
        margin-right: 2%;
    }
    input{
        margin-right: 2%;
    }
    #property_{
        &bedrooms{
            width: 10%;
        }
        &bathrooms{
            width: 10%;
        }
        &bldg_squarefootage{
            width: 10%;
        }
        &lot_sqfootage{
            width: 10%;
        }
        &acreage{
            width: 10%;
        }
        &year_built{
            width: 10%;
        }
        &parcel_number{
            width: 10%;
        }
        &tax_value{
            width: 10%;
        }
        &year_taxes{
            width: 10%;
        }
    }

}

