// Variables
@accent-primary: #777777;
@accent-primary-background: #e7e7e7;


.widget.upcoming-auctions{
    figure.featured-image{
        float: left;
        margin-right: 10px;
        width: 90px;
        img{
            width: 100%;
            height: auto;
        }
    }
    .hentry{
        float: left;
        width: 100%;
    }
}
//styles for auction archives only
.post-type-archive-auctioneer_auction{
}
.single-auctioneer_auction{

}
//custom post statuses
.auctioneer_{
    &auction, &property{
        .entry-title{
            position: relative;

            span.title{
                // float: left;
            }
            span.status{
                background-color: @accent-primary-background;
                color: @accent-primary;
                position: absolute;
                display: block;
                padding: 5px 1%;
                font-size: .5em;
                margin: 0 auto;
                right: 0;
                bottom: -40px;
                margin-top: 5px;
                text-align: center;
                box-shadow: -1px 1px 5px darken(@accent-primary-background, 5);
                border-right: 5px darken(@accent-primary-background, 20) solid;
            }
        }
    }

}

//sytles for single properties only
.post-type-archive-auctioneer_property{
}
.single-auctioneer_property{
    table.property-details{
        width: 100%;
        tr{
            background: lighten(@accent-primary-background, 5);
        }
        tr:nth-child(odd){
            background: lighten(@accent-primary-background, 10);
        }
        td{
            display: table;
            padding: 5px;
        }
        td.detail-key{
            width: 40%;
        }
        td.detail-value{
            width: 60%;
        }
    }
}
